################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.ipynb_checkpoints
/my data
/PDF + HTML
/Test code
/__pycache__
/Dossier ISN projet.docx
/Jupyter NoteBook.zip
