################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.ipynb_checkpoints
*.pdn
*.zip
image_png_*.png
/my data/bmp data
/my data/old data
/PDF + HTML
/Test code
/__pycache__